#column {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

header {
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(120, 165, 204);
    color:aliceblue;
}

nav ul {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    min-width: 360px;
}

h1, nav {
margin: 2% 4% 2% 3%;
justify-content: space-between;
}

h1 {
    font-size: x-large;
}

li a {
    color:aliceblue;
}

a {
    color: rgba(27,39,51,255);
}

.mainImage {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../Images/self-photo.jpg");
    background-size: cover;
    background-position: center;
}

h2 {
    color: rgb(120, 165, 204);
    background-color: aliceblue;
    font-size: large;
}

#chunk {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-flow: column;
    flex-basis: 30rem;
}

.bio,
.contact,
.work {
    position: relative;
    width:100%;
    flex-grow: 1;
}

#aboutMe,
#contactMe,
#myWork {
    position: absolute;
    left:30px;
}

.paragraph,
.details,
.bigWork {
    position: absolute;
    justify-content: space-between;
    left: 362px;
    right: 30px;
    color: rgba(27,39,51,255);
    font-size: medium;
    line-height: 175%;
}

.bio,
.contact {
    height:300px
}

.work {
    height:700px
}

.bigWork {
    position: relative;
    max-width: 60%;
    right: 30px;
}

.otherWork1 {
    position: absolute;
    max-width: 30%;
    bottom:5px;
    left:362px;
}
.otherWork2 {
    position: absolute;
    max-width: 30%;
    bottom:5px;
    right:30px;
}


@media screen and (max-width: 992px) {
    section {
        flex: 0 0 98%;
        }
    }
    
    @media screen and (max-width: 768px) {
        section {
        flex: 0 0 98%;
        }
        header {
        flex-direction: column;
        }
    }